@import "tailwindcss";

.backgound-container {
  background-image: url("../../assets/cover_image_main.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 98vw;
}
.background-container-main{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: no-wrap;
  padding: 2em 2em 0em 2em;
  margin-right: 18em;

}
.backgound-container-heading {
  font-size: 6em;
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  width: 40%;
  margin-left: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
}
