@import "tailwindcss";

.backgound-container {
  background-image: url("./assets/cover_image_main.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
  min-width: 100vw;
}
.backgound-container-main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.backgound-container-heading {
  padding: 0.8em ;
  font-size: 8em;
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  max-width: 40%;
  text-align: center;
  display: inline-block;  /*Why is this working and why flex not*/
}

.backgound-container-subheading {
  padding: 0.5em 1em 1em 1em;
  font-size: 2em;
  font-family: "Comic Sans MS", cursive;
  font-style: italic;
}
