@import "tailwindcss";

.backgound-container {
  background-image: url("./assets/cover_image_main.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
  min-width: 100vw;
}

.backgound-container-heading {
  padding: 0.8em;
  font-size: 8em;
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  max-width: 30%;
  text-align: center;
  justify-content: center;
}
.backgound-container-subheading {
  padding: 0 1em 1em 1em;
  font-size: 2em;
  font-family: "Comic Sans MS", cursive;
  font-style: italic;
}
.login-form {
  background-color: rgb(145, 146, 146);
  padding: 2em;
  max-width: fit-content;
  margin: 2em;
}

.input-field {
  background-color: white;
  color: #9175df;
  border-radius: 20px;
  padding: 1em;
  margin: 1em;
}
