@import "tailwindcss";

.get-started{
  padding: .5em 4em;
  background-color: white;
  color: #9175df;
  margin: 0 0 6.5em 20em;
  cursor: pointer;
  border-radius: 20px;
}

.get-started:hover{
   background-color: #9175df;
   color: white;
   transition: all 0.3s ease;
   box-shadow:  0 0 5px rgb(255, 255, 255);
}