@import "tailwindcss";

.button{
  background-color: white;
  color: #9175df;
  cursor: pointer;
  border-radius: 20px;
  padding: .5em 3em ;
  margin: 1em 1em;
}

.button:hover{
   background-color: #9175df;
   color: white;
   transition: all 0.3s ease;
   box-shadow:  0 0 5px rgb(255, 255, 255);
}

.get-started{
  margin: 0 0 6.5em 18em;
 
}
