@import "tailwindcss";

.backgound-container {
  background-image: url("./assets/cover_image_main.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}
.background-container-main{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: no-wrap;
  padding: 2em;
  margin-right: 10em;

}
.backgound-container-heading {
  font-size: 8em;
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  width: 40%;
  text-align: center;
}

.backgound-container-subheading {
  padding: 0em 1em 1em 1em;
  font-size: 2.8em;
  font-family: "Comic Sans MS", cursive;
  font-style: italic;
}
