@import "tailwindcss";

.login-form {
  background-color: #9588bd;
  padding: 2.8em;
  margin: 2em 1em 4em 30em;
  border-radius: 20px;
  justify-content: center;
  margin-top: 6em;
}
.login-form-header{
  font-size: 1.5em;
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  text-align: center;
}
.input-field {
  background-color: white;
  color: #9175df;
  border-radius: 20px;
  padding: 0.6em;
  margin: 1.2em;
  width: 15vw;
}
.input-field:hover{
   transition: all 0.3s ease;
   box-shadow:  0 0 10px rgb(101, 51, 155);
}
.login-form-icon{
  width: 2vw;
}
.login-form-fields{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.sign-in{
  margin-left: 2em;
}
#sign-in-now{
  font-size: 1.2em;
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  text-align: center;
  color: #4f3d94;
  cursor: pointer;
}
.hidden{
  display: none;
}