@import "tailwindcss";

.login-form {
  background-color: #9588bd;
  padding: 2em;
  margin: 2em 1em 1em 15em;
  border-radius: 20px;
  justify-content: center;
  margin-top: 6em;
  box-shadow: 0 8px 20px #00000066;
  min-width: 60%;
}
.login-form-header{
  font-size: 1.5em;
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  text-align: center;
}
.input-field {
  background-color: white;
  color: #9175df;
  border-radius: 20px;
  padding: 0.6em;
  margin: 1.2em;
  width: 15vw;
}
.input-field:hover{
   transition: all 0.3s ease;
   box-shadow:  0 0 10px #65339b;
}
.login-form-icon{
  width: 2vw;
}
.login-form-fields{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.sign-in{
  margin-left: 2em;
}
.sign-in-now{
  font-size: 1.2em;
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  text-align: center;
  color: #4f3d94;
  cursor: pointer;
}
.hidden{
  display: none;
}
.password-strength-msg {
  font-size: 0.85rem;
  margin: 0 0 0.3rem 5rem;
  transition: all 0.3s ease;
}

.password-strength-msg.weak {
  color: #fa2335;
}

.password-strength-msg.medium {
  color: #fff025;
}

.password-strength-msg.strong {
  color: #68d671; 
}